/* Nuestro codigo css sera aca */ 

/*VARIABLES*/
:root {
    --primary-color: #4CAF50;
    --secondary-color: #f2f2f2;
    --text-color: #333;
    --color-De-Fondo-Header: #635252;
    --fuente: "League Gothic", sans-serif;
    --color-h2: #100c08;
    --color-h1: #FFCC99;
    --color-h3: #562b05;
    --fondo-body: #804000;
    --fondo-gris-oscuro: #1A1A1A;
    --text-color-tabla: #E8611A;
}
/* Estilos para la cabecera. Sera tanto para index como para el resto de paginas */ 


* { 
  box-sizing: border-box; 
  margin: 1rem; 
  padding: 0; 
} 

/*Header, footer y body*/
header {
    font-family: var(--fuente);
    font-size: 20px;
    background-color: var(--color-De-Fondo-Header);
    padding: 20px;
    text-align: center;
    position: relative;
    min-height: 150px;
    box-sizing: border-box; 
    margin: 0; 
}

header .logo {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 250px;
    height: 150px;
    object-fit: contain;
    mix-blend-mode: multiply;

}

body{
    max-width: none;
    margin: 0;
    line-height: 1.7rem;
    background-color: var(--fondo-body);
    color: var(--color-h1)
}

footer{
    max-width: none;
    margin: 0;
    background-color: var(--color-h3);
    color: var(--color-h1)
}

/*Navegacion - Titulos*/
h1{
    color: var(--color-h1)
}

h2{
    color: var(--color-h1);
    font-family: var(--fuente);
    font-size: 1.7rem;
}

h3{
    color: white;
    font-family: var(--fuente);
    font-size: 1.5rem;
}

nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover, nav a.activo { color: var(--primary-color); }


.datos-clave{
    margin: 40px auto;
    width: 90%;
    height: 1340px;
    max-width: 500px;
    outline: 5px solid;
    background-color: var(--color-De-Fondo-Header);
}

dt,
dd {
  padding: 0.3rem; 
  text-align: center; 
  border-bottom: 3px solid var(--text-color);
  border-top: 3px solid  var(--text-color);
  border-left: 3px solid  var(--text-color);
  border-right: 3px solid  var(--text-color);
}

dt {
    background: var(--fondo-gris-oscuro);
    color: var(--text-color-tabla);
    text-align: left;
}